<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<div class="container">
		
		<div class="row">

			<div id= "pantalla" class= "col-9 ventana">
			
				<ul id= "ulChat">
					
				</ul>

			</div>

			
			<div class="col-3 online"></div>


		</div>

		<form>

			<input id= "mensaje" type="text">
				
			</input>

			<button id ="send">Enviar</button>

		</form>


	</div>
	





	<script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>    
    <script src="/js/chat.js"></script>
</body>
</html>